project:
  type: website

website:
  title: "Breno Ribeiro Nogueira"
  image: profile_photo.jpg
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: publications.qmd
        text: Publications


format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



